body {
  font-family: arial;
  background: white;
}

/* header functions */
.header {
  overflow: hidden;
  background: cyan;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-family: f;
  font-size: 30px;
  padding: 15px 0 15px 25px;
}

.nav {
  padding: 22px 0;
}

.nav a {
  padding: 0 10px;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.search {
  padding: 22px 5px 22px 0;
}

.account {
  padding: 22px 25px 22px 5px;
}

/* new arrivals at top --> index.html */
.arrivals {
  background: violet;
  height: 600px;
  white-space: pre;
  text-align: center;
  margin-bottom: 50px;
}

.arrivals-text {
  padding-top: 300px;
}

.arrivals-text span {
  color: white;
  background: black;
}

.arrivals-title {
  font-size: 100px;
}

.arrivals-productsbutton {
  font-size: 30px;
}


/* featured products --> index.html */
.featured {
  height: 750px;
  width: 870px;
  margin: auto;
  text-align: center;
}

.featured-products {
  display: flex;
}

.featured-title {
  font-size: 30px;
}

.featured-big {
  white-space: pre;
  text-align: center;
  margin: 30px 20px 0 0;
}

.imgplace1 {
  background: red;
  height: 450px;
  width: 350px;
}

.featuredlarge-title {
  font-size: 26px;
}

.featuredlarge-price {
  font-size: 26px;
}

.featuredproducts-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-small {
  margin: 0 5px 0 5px;
  white-space: pre;
}

.imgplace2 {
  background: red;
  height: 200px;
  width: 150px;
}

.featuredsmall-title {
  text-align: center;
}

.featuredsmall-price {
  text-align: center;
}

.featured-morebutton {
  font-size: 20px;
  margin-top: 20px;
}


/* sale sign --> index.html */
.sale {
  background: pink;
  margin: auto;
  height: 150px;
  width: 90%;
  text-align: right;
  white-space: pre;
}

.sale-text {
  font-size: 30px;
}


/* links to product pages --> index.html */
.productlinks {
  display: flex;
  flex-wrap: wrap;
  height: ;
  width: 670px;
  margin: auto;
}

.productlinks span {
  color: white;
  background: black;
  font-size: 20px;
}

.productlink-womens {
  background: blue;
  margin: 5px 0 10px 5px;
  height: 150px;
  width: 300px;
  text-align: right;
}

.productslink-womenstext {
  
}

.productlink-mens {
  background: blue;
  margin: 5px;
  height: 150px;
  width: 300px;
}

.productslink-menstext {
  
}

.productlink-outfits {
  background: blue;
  margin: 5px;
  height: 310px;
  width: 310px;
  text-align: right;
}

.productslink-outfitstext {
  
}

.productlink-shoes {
  background: blue;
  margin: 5px;
  height: 150px;
  width: 150px;
  text-align: center;
}

.productslink-shoestext {
  
}

.productlink-accessories {
  background: blue;
  margin: 5px;
  height: 150px;
  width: 300px;
  text-align: center;
}

.productslink-accessoriestext {
  
}

.productlink-bags {
  background: blue;
  margin: 5px;
  height: 150px;
  width: 150px;
  text-align: center;
}

.productslink-bagstext {
  
}


/* line of picutes --> index.html */
.pictureline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pictureline-pictures {
  height: 204px;
  width: 204px;
  margin: 1px;
}


/* footer */
.footer {
  overflow: hidden;
  background: orange;
  box-sizing: border-box;
  bottom: 0;
}

.footer-text {
  display: flex;
  padding: 50px;
  margin: auto;
}

.aboutus {
  padding-right: 30px;
}

.footernav {
  
}

.footersearch {
  padding: 0 0 30px 30px;
}

.contact {
  padding-left: 30px;
}
